<%- include('partials/header') %>

    <form action="/register" method="POST">
        <!--  -->
        <input type="email" placeholder="email" name="email">
        <input type="password" placeholder="passsword" name="password">
        <input type="text" name="firstname" placeholder="firstname">
        <input type="text" name="lastname" placeholder="lastname">
        <!--  -->
        <button type="submit">Register</button>
    </form>



<%- include('partials/footer') %>